# https://github.com/marketplace/actions/mdbook-action

name: github pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        run: |
          wget https://github.com/flat35hd99/mdBook/releases/download/v0.0.20/mdbook-v0.0.20-x86_64-unknown-linux-gnu.tar.gz
          tar -xvf mdbook-v0.0.20-x86_64-unknown-linux-gnu.tar.gz
          export PATH="`pwd`/mdbook-v0.0.20-x86_64-unknown-linux-gnu:$PATH"

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
